.container {
    -fx-background-size: cover;
    -fx-alignment: center;
    -fx-padding: 10px;
}

#titleLabel {
    -fx-font-size: 60pt;
    -fx-text-fill: black;
    -fx-wrap-text: true;
    -fx-margin-bottom: 10px;
    -fx-margin-top: -100px;
}

#welcomeLabel {
    -fx-font-size: 18pt;
    -fx-text-fill: black;
    -fx-wrap-text: true;
    -fx-margin-bottom: 10px;
}

#importButton {
    -fx-margin-bottom: 10px;
}
