#header {
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-padding: 0px 0px 0px 10px;
}

#infoGoalsLabel {
    -fx-font-size: 20;
    -fx-padding: 20px 0px 0px 10px;
}
#createGoalsContainer {
 -fx-padding: 40px 20px 20px 50px;
 -fx-spacing: 50px;
}

#infoGoals {
    -fx-padding: 0px 20px 20px 150px;
}

@media (max-width: 600px) {
    #createGoalsContainer {
        -fx-spacing: 1px;
    }
}

#createGoalsContainer > * {
    -fx-hgrow: ALWAYS;
}

#labelGoal, #inputGoal, #setGoalButton {
    -fx-padding: 40px 20px 20px 20px;
}

#goalsContainer {
    -fx-content-display: flex;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-max-width: 400px;
    -fx-max-height: 270px;
    -fx-pref-height: 270px;
    -fx-pref-width: 350px;
    -fx-padding: 0px 10px 10px 10px;
}

#containerForGoalsContainer {
    -fx-padding: 20px 20px 40px 60px;
}

#dropDownContainer {
    -fx-padding: 60px 20px 20px 60px;
}

#yourGoalsLabel {
    -fx-padding: -40px 20px 10px 40px;
}

.remove-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 2px 4px;
    -fx-font-size: 16px;
    -fx-max-width: 80px;
    -fx-max-height: 25px;
}

.remove-button:hover {
    -fx-text-fill: white;
}

.black-and-white {
    -fx-background-color: white;
}

.scroll-pane {
    -fx-padding: 60px 0px 0px 0px;
    -fx-max-width: 400px;
    -fx-max-height: 200px;
}

#allInventoryVBox {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
    -fx-max-width: 300px;
}
