#playerDetails {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-max-width: 350px;
    -fx-max-height: 200px;
    -fx-padding: 10px;
}

#healthField {
    -fx-width: 50%;
}

.errorMessage {
    -fx-text-fill: red;
}