#healthBox, #scoreBox, #inventoryBox, #goldBox {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 15px;
}

#circle, goalsBox {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

#headerLabel {
    -fx-font-size: 36px;
}

#infoLabel {
    -fx-font-size: 20px;
    -fx-padding: 0px 0px 0px 20px;
}