.button {
    -fx-background-color: #566D46;
    -fx-text-fill: #FFF;
    -fx-font-family: "Times New Roman", serif;
    -fx-font-size: 18px;
    -fx-padding: 12px 16px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: linear-gradient(to bottom, #3E502B, #566D46);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1);
    -fx-pref-width: 140px;
}
.button:hover {
    -fx-background-color: #669376;
    -fx-text-fill: #000;
}

.label {
    -fx-text-alignment: center;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-pref-height: 28px;
    -fx-font-size: 14px;
    -fx-font-weight: bolder;
}

.label {
    -fx-font-weight: bolder;
    -fx-font-size: 16;
}
